header {
  text-align: center;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#calculatorContainer {
  border: 2px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

button {

}

.helper {
  background-color: white;
  font-weight: bold;
  font-size: 1em;
}

#equals {
  font-size: 2em;
}

.operator {
  background-color: orangered;
  font-weight: bold;
  font-size: 1.5em;
}

#screen {
  padding: 20px;
}



#decimal,
.digit {
  font-weight: bold;
  font-size: larger;
}

#decimal {
  font-size: xx-large;
}